<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindGames</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/fastReadingEx001.css">
</head>
<body>
   
        <h1>Speed Reading Test</h1>

        <div id="test-container-wrapper">

            <div id="test-container">

                <textarea id="pasteDiv" class="textarea">

                    ) اختبار ذاتي ) ‎١‏ :

                    حرب الذكاء في المواجهة مع تدريب العقل
                    ( مجلة توجهات العالم الجديد )
                    
                    يراقب محللو أسواق الأوراق المالية عن كثب حركات وسكنات عشرة أشخاص يعملون في مجال التكنولوجيا . يكون هناك
                    مجرد لمحة تشير إلى أن أحدهم سينتقل من الشركة ‎٢‏ " إلى الشركة
                    
                    " ب ‎٢‏ تتغير مؤشرات السوق الدولية للأوراق المالية .
                    
                    وفى دراسة نشرتها مؤخرا اللجنة الإنجليزية للقوى العاملة لوحظ
                    أن نسبة ‎٨٠‏ من بين أفضل ‎١٠‏ من الشركات الإنجليزية
                    تخصص أموالأ وأوقاتا كبيرة للتدريب ، بينما لا تخصص نسبة
                    ‎١٠‏ من الشركات المدرجة على ذيل القائمة أى مال أو وقت
                    للتدريب .
                    
                    نجح مشررع " بلاتو كمبيوتر " للتعليم فى ولاية " منيسوتا " فى
                    رفع مستوى الأداء ومستوى التفكير لعدد من الطلبة بلغ مائتى ألف
                    طالب .
                    
                    وفى القوات المسلحة الأمر: مريكي يكية وغيرها من دول العالم ، أصبحت
                    فنون القتال العقلية تمثل جزةا أساسيا من مهارات العركة الفعلية .
                    
                    كما أن الفرق الوطنية الأوليمبية أصبحت تخصص ‎٤»‏ / من
                    الوقت المخصص للتدريب على تطوير التفكير الذهنى الإيجابى ،
                    والقدرة العقلية على الاحتمال والتخيل .
                    
                    في السجل الخاص بأكبر خمسمائة شركة من حيث الأرباح ،
                    سنجد أن أكبر خمس شركات كمبيوتر تنفق ما يفوق المليار دولار على
                    تعليم موظفيها وتطوير رأس المال الثقافى الذى أصبح له الأولوية
                    القصوى بما في ذلك تطوير العملة الأقوى عالميا ألا ومى عملة
                    الذكاء .
                    
                    
                    
                    ‎١٦‏ استكشف سرعاتك
                    
                    ‏وفى سابقة هى الأوى من نوعها تم تعين الدكتور " لويس ألبرتو
                    ماكادو " ليكون أول شخص فى العالم يؤسس وزارة للذكاء ، وذلك
                    فى دولة " فنزويلا " . الذى كلف سياسيا بتطوير القوة العقلية
                    للأمة .
                    
                    ‏إننا نشهد حاليأ قفزة نوعية فى التطور البشرى - تتمشل في
                    إدراك الذكاء لذاته ، والوعى بأن رعاية وتغذية هذا الذكاء تمثلان
                    مزايا متعاظمة لهذه القفزة النوعية .
                    
                    ‏وخلال العشرين عاما الماضية، تم إجراء استفتاء شمل أكثر من
                    مائة ألف شخص من جميع أنحاء العالم عن المجالات التى تتطلب
                    التطوير . وقد اختار هؤلاء المجالات التالية، طبقا لأهميتها :
                    
                    ‎.١‏ القراءة السريعة
                    ‎.٢‏ القراءة والفهم
                    ‎.٣‏ المهارات العامة للمذاكرة
                    ‎.٤‏ تناول موضوع الانفجار المعلوماتى
                    ‎.٥‏ الذاكرة
                    ‎.٦‏ التركيز
                    ‎.٧‏ مهارات الاتصال الشفهي
                    ‎.٨‏ مهارات الاتصال الكتابى
                    ‎.٩‏ التفكير الابتكارى
                    
                    ‎.١٠‏ التخطيط
                    
                    ‎.١١‏ تدوين الملاحظات
                    
                    ‎.١٢‏ تحليل المشكلات
                    
                    ‎.١٣‏ حل المشكلات
                    
                    ‎.١٤‏ الحوافز
                    
                    ‎.١٥‏ الفكر التحليلى
                    
                    ‎.١٦‏ تقنيات الاختبارات
                    ‎.١٧‏ تحديد الأولويات
                    ‎.١٨‏ إدارة الوقت
                    
                    
                    
                    
                    ‎.١٩‏ توزيع المعلومات
                    ‎.٢٠‏ الانطلاق أو التأجيل
                    ‎.٢١‏ تناقص القدرات العقلية مع التقدم فى العمر
                    
                    ‏ومن خلال دراسة حديثة عن وظائف العقل يمكن التصدى لكل
                    مشكلة من هذه المشكلات بسهولة نسبية . وتغطى هذه الدراسة
                    الجوانب التالية :
                    
                    ‎.١‏ وظائف النصف الأيمن والنصف الأيسر للمخ
                    
                    ‏. رسم خريطة للعقل
                    
                    ‎.٣‏ بالسرعة الهائلة للقراءة وتقنيات القراءة المتأنية يمكن تشكيل
                    وحدات ثقافية كاملة
                    
                    ‎.٤‏ تقنيات فن تقوية الذاكرة
                    
                    ‎.٥‏ فقدان التذكر بعد التعلم
                    
                    ‎.٦‏ خلايا الملخ
                    
                    ‎.٧‏ القدرات الذهنية والتقدم فى السن
                    
                    ‎»
                    
                    ‏وظائف النصف الأيمن والنصف الأيسر للمخ
                    
                    ‏لقد أصبح من المعروف أن القشرة الدماغية للنصفين الأيسر والأيمن
                    للمخ تميل إلى التعامل مختلف الوظائف الثقافية . وبداية فإن
                    النصف الأيسر يتعامل مع المنطق ، والكلمات والأرقام ،
                    والتتابع ، والتحليل ، ‎٨‏ الخطية، والاستماع . أما النصف
                    الأيمن فيتعامل وينظم الإيقاع ، والألوان، والتخيلات ، وأحلام
                    اليقظة ، والعلاقات المكانية، والأبعاد .
                    
                    ‏وقد أمكن التحقق في العصر الحالى من أن النصف الأيسر للمخ
                    ليس هو الجانب " الأكاديمي ، وأن النصف الأيمن للمخ ليس هو
                    الملسئول عن الجانب الإبداعى والتلقائي أو العاطفى ، فتحن نعرف
                    الآن من البحوث العديدة أننا نحتاج لتشغيل النصفين كليهما
                    
                    
                    
                    ‎١٨‏ استكشف سرعاتك
                    
                    ‏بالتكامل فيما بينهما لتحقيق النجاح فى الجانبيين الأكاديمى
                    والإبداعى
                    
                    ‏إن العلماء من أمثال " إينشتاين ‎٣‏ ، " ونيوتن "، والفنانين من
                    أمثال " سيزان " و " موتسارت " ، ورجال الأعمال العباقرة ،
                    جميعهم يمزجون بين مهاراتهم الرقمية والتحليلية مع التخيل
                    والتصور لكى ينتجوا إبداعاتهم المبتكرة .
                    
                    ‏خرائط العقل
                    
                    ‏باستخدام معلوماتنا الأساسية عن الوظائف العقلية ، يصبح من
                    الممكن التدريب على حل المشكلات فى كل مجال ، وتحقيق تطور
                    إيجابى يصل إلى ‎٥٠٠‏ . ومن إحدى الطرق الحديثة لتحقيقه مثل
                    هذا التطور رسم خريطة العقل .
                    
                    ‏عندما نقوم بتدوين المذكرات بالطريقة ا لتقليدية ‎٠‏ سواء للتذكير
                    بالمعلومات ، أو للإعداد لاتصال شفهى أو كتابى ، أو لتنظيم
                    الأفكار ، أو لتخيل المشكلات أو للتخطيط للتفكير الإبداعى ؛
                    فالأفضل أن يكون ذلك فى صورة خطية : سواء بجمل متجاورة ، أو
                    عبارات قصيرة فى قوائم محددة أو مرتبة رقميا أو هجائيا . ولأن هذه
                    الأساليب تفتقد اللون ‎٠‏ أو الإيقاع البصرى أو التتخيل ‎٠‏
                    ‏أو الإحساس بالعلاقات المكانية . فإن ذلك يقوم بتعطيل إمكانيات
                    التفكير العقلى ، ويعوق كل العمليات الذهنية المذكورة آنفا .
                    
                    ‏وعلى العكس من ذلك ، فإن وضع الخطط العقلية يستوجب
                    استخدام جميع القدرات الذهنية بوضع صورة ما فى وسط الصفحة
                    لتيسير التذكر وتوليد الطاقة الإبداعية للأفكار ، وبالتالى يتم تفريعها
                    إلى شبكة مترابطة تعكس تماما التركيب الداخلى للمخ وباستخدام
                    هذا الأسلوب يمكنك أن تعد خطاباتك التى ستلقيها في دقائق بدلا
                    من أيام كما يمكنك أن تقوم بحل المشكلات بشكل شامل
                    وبسرعة ‎٠‏ كما يمكنك أن تحسن ذاكرتك ‎٠‏ وتقترب من أقصى
                    
                    
                    . ٣ ٢ ٨ ٣# ٣٣ ٣٧٠ "٣ ٣ ٣٣٧
                    
                    درجات النجاح والتقدم ؛٠‏ كما يولد تفكيرك الإبداعى عددا لا نهائيا
                    من الأفكار بدلا من الالتزام بقائمة محدودة منها .
                    
                    بالسرعة الهائلة للقراءة وتقنيات القراءات المتأنية يمكن
                    تشكيل وحدات تقافية كاملة .
                    
                    عندما يمكننا أن نمزج بين التخطيط العقلى بالسرعة الهائلة
                    للقراءة ، وتقنيات القراءة المتعددة ) التى تسمح بالقراءة بسرعة تزيد
                    على ‎١٠٠٠‏ كلمة فى الدقيقة مع الاستيعاب الممتاز ، بل والوصول إلى
                    ‎١٠,٠٠٠‏ كلمة فى الدقيقة بفاعلية ،، فإنه يمكن تشكيل وحدات
                    ثقافية كاملة .
                    
                    عندما يقوم أربعة أشخاص أو أكثر بقراءة أربعة كتب مختلفة
                    فإنهم يستطيعون أن يتذكروا المعلومات التى حصلوا عليها ويكتسبوا
                    المزيد من المعلومات ويتبادلوها فيما بينهم ويطبقوها أيضا بمهارة فى
                    امواقف المختلفة ، كل ذلك من خلال القراءة بالسرعات المتقدمة
                    وعمل خرائط عقلية تفصيلية وتلخيصات لكل كتاب وفصوله .
                    
                    هذه التقنيات تم تطبيقها مؤخرا داخل المنظمات متعددة
                    الجنسيات ( نابيسكو ، وديجيتال كمبيوتر . وفى هذا الإطار قام
                    ‎٤٠‏ ثم ‎١٢٠‏ مديرا تنفيذيا بتقسيم مجموعات العاملين لديهم إل أربع
                    مجموعات قضى كل فرد فى هذه المجموعات ساعتين فى القراءة
                    السريعة . والقراءة المتأنية لواحد من الكتب الأربعة المختارة .
                    
                    وعند انتهاء الساعتين، ناقشت كل مجموعة فيما بين أعضائها
                    ما فهموه من القراءة الفردية ، ورؤيتهم لما قاموا بقراءته ، ثم اختارت
                    كل مجموعة مندوبا عنها يمثلها أمام مجموعة من المجموعات الثلاثة
                    الأخرى . تم تكرار هذه العملية أربع مرات متتالية ، وبنهاية كل
                    يوم كان هؤلاء المديرين فى كل شركة يخرجون وبحوزتهم أربعة كتب
                    جديدة بما تتضمنه من معلومات ليس فقط فى عقولهم ، ولكن أيضا
                    بشكل تحليلى متكامل وقابل للتذكر .
                    
                    
                    ‎٢٠‏ استكشف سرعاتك
                    
                    ‏إن هذا الأسلوب يمكن اتباعه داخل الأسرة، وهو بالفعل مطبق
                    فى عائلات فى دول مختلفة من العالم . وفى المكسيك طبقت إحدى
                    العائلات هذه الطريقة على أبنائها الثلاثة الذين تتراوح أعمارهم بين
                    ستة وخمسة عشر عاما، وخلال شهرين أصبح كل طفل منهم
                    يحصل على أعلى الدرجات فى فصله، بل أصبح كل منهم متمكنا
                    من استكمال منهج دراسى كامل فى يومين - بمساعده باقى أعضاء
                    الأسرة - في حين أن ذلك الأمر قد يتطلب من التلميذ العادى سنة
                    كاملة .
                    
                    ‏تقنيات فن تقوية الذاكرة
                    
                    ‏لقد قدم الإغريق هذه التقنيات للإنسانية على أنها " خدع " .
                    ولكننا ندرك الآن أن هذه الأدوات مبنية على وظائف المخ ، وأنه
                    عند تطبيقها بشكل جيد فإنها تؤدى إلى تحسن كبير فى ذاكرة أى
                    
                    ‏إن تقنيات تقوية الذاكرة تتطلب استخدام مبادئ الارتباط والقدرة
                    على التخيل لخلق صور ذهنية درامية ملونة ومحسوبة لا نسي .
                    
                    ‏والواقع أن خريطة العقل تعتبر تقنية متعددة الأبعاد لتقوية
                    الذاكرة، وهى تعتمد على استخدام الوظائف الفطرية للعقل لإحداث
                    أثر لا سبيل إلى محوه للبيانات وامعلومات .
                    
                    ‏كما يتم تدريب رجال الأعمال باستخدام هذه التقنيات لكى
                    يتذكروا بشكل كامل أربعين شخصا جديدا ، وقائمة تزيد عن مائة
                    منتج جديد وكل ما يتعلق بها من بيانات وحقائق . وفى الوقت
                    الراهن تطبق هذه التقنيات فى شركة %%٦8]آ‏ فى مركز التدريب
                    الرئيسى فى " ستوكهولم ، ولقد كان لها تأئير كبير فى نجاح
                    البرنامج التدريبي الأساسى الذى يستمر لدة سبعة عشر أسبوعا ،
                    كما اسثخدمت هذه التقنيات أيضا في البطولة الدولية لقوة الذاكرة
                    في السنوات الخمسة الماضية، وخاصة بواسطة بطلة العالم الصاعدة
                    وصاحبة الرقم القياسي الدولى الحالية، " دومينيك أو . براين " .
                    أين موقعك الآن ؟ اختبر السرعة الطبيعية لقراءتك ولاستيعابثل ‎٢١‏
                    
                    هناك أيضا إدراك ووعى متنامى بأن بدء أى تدريب بتعليم
                    الملشاركين كيف يتعلمون يعطى نتائج جيدة . وهذا ما دعى إلى تبنى
                    مؤسسات دولية متقدمة لهذه الفكرة بحيث أصبح التدريب على
                    تقنيات تقوية الذاكرة إجباريا . ومن خلال عملية حسابية بسيطة
                    نجد أن إنفاق مليون دولار على التدريب ، ثم فقدان ‎٨٠‏ / من
                    محتويات التدريب - بالنسيان - خلال أسبوعين يعنى أن هناك
                    ثمانمائة ألف دولار قد ضاعت هباء خلال نفس الفترة .
                    
                    فقدان التذكر بعد الة
                    كر
                    
                    لقد أثبت الواقع أن فقدان التذكر بعد التعلم يحدث بصورة
                    درامية . فبعد ساعة من التعلم ترتفع القدرة على تذكر المعلومات
                    تستمر فقط لفترة قصيرة، يلى ذلك هبوط حاد بحيث يمكن بعد ‎٢٤‏
                    ‏ساعة أن تضيع ‎٨٠‏ من التفصيلات .
                    
                    وينطبق هذا النموذج على كل موضوعات التعلم مهما طالت أو
                    قصرت فترة إدخال المعلومات . وعلى ذلك فإن ما يتم تحصيله فى
                    دورة لمدة ثلاثة أيام يتم نسيانه خلال أسبوع أو أسبوعين .
                    
                    إن تداعيات هذا الموضوع محيرة ؛ فإذا أنفقت مؤسسة متعددة
                    الجنسيات ‎٥٠‏ مليون دولار فى العام على التدريب ولم يكن هناك
                    دولار تعتبر فى حكم المفقودة خلال أيام قليلة من انتهاء التدريب .
                    
                    إن فهما بسيطا لإيقاعات الذاكرة ‎٠‏ يتيح تجنب هذه الخسارة ‎٠‏
                    ‏ليس هذا فقط بل أيضا التدريب بطريقة تزيد من كمية التعلم وما يتم
                    تذكره من هذا التعلم .
                    
                    
                    خلايا المخ
                    
                    لقد مثلت خلايا اللخ محورا رئيسيا للبحث خلال السنوات
                    الخمس الماضية فى إطار سعى الإنسانية للمعرفة .
                    
                    فلدى كل منا تريليون خلية فى مخه، ليس هذا فقط ولكن نظام
                    التوصيل فيما بين هذه الخلايا يتشكل من عدد كبير جدا من وسائط
                    التنظيم المتداخل والمتعاقب ، وقد تم حساب هذه الأعداد بواسطة
                    العالم الروسي " بيوتركيه أنوكين " متخصص تشريح الأعصاب ،
                    فكان العدد النهائى عبارة عن واحد وأمامه عدد لا نهائى من
                    الأصفار !
                    
                    ولقد أصبح من الواضح للباحثين فى مجال العقل ، ومن خلال
                    قدرتنا المتأصلة على دمج ومضاعفة الملايين من البيانات ، أن
                    التدريب الملائم للمخ ) والذى يمكنه إجراء ‎٤٠٠‏ مليون عملية حسابية
                    فى الثانية الواحدة وهو ما قد يستلزم مائة عام من الحاسب
                    العملاق ) سيزيد بشكل هائل من قدراتنا على حل المشكلات ،
                    والتحليل، وتحديد الأسبقيات ، والابتكار، والإبداع ، والتواصل .
                    
                    القدرات الذهنية والتقدم في السن
                    
                    إن الرد المتوقع من كل من تسأله : " ماذا يحدث لخلايا مخك
                    التى تتقدم في العمر ؟ " سيكون بشكل تأكيدى وحماسي : " إنها
                    تموت " !
                    
                    غير أن هناك أحد البحوث الحديثة التى أجراها الدكتور
                    " ماريون دياموند " من جامعة " كاليفورنيا ‎٣‏ ، أكد فيه أنه ليس
                    هناك دلالات على فقدان خلايا المخ مع تقدم العمر وذلك بالنسبة
                    للعقول السليمة النشطة الطبيعية .
                    
                    بل على العكس فإن البحوث تؤكد أن العقل إذا كان يستخدم
                    ويتدرب ( فإن المقدرة البيولوجية لفاعليته تزيد ، وعلى سبيل المثال
                    فإن مقدار الذكاء الشخصى يرتفع
                    
                    
                    إن تدريب من يبلغون الستين أو السبعين أو حتى الثمانين
                    والتسعين من عمرهم قد أثبت أنه من الممكن إحداث تقدم مستمر
                    ودائم في الأداء العقلى في كل مجال .
                    
                    لذا فتحن على أعتاب مرحلة ثورية غير مسبوقة ؛ تتمثل فى
                    القفزة النوعية الهائلة في تطور الذكاء الإنساني .
                    
                    ومن الناحية الشخصية وفي مجال التعليم ومجال العمل تتوالى
                    المعلومات من علماء النفس والأعصاب والتعليم لكى تستخدم فى حل
                    المشكلات التى كان يتم تقبلها على أنها جزء من عملية التقدم فى
                    السن .
                    
                    وبتطبيق معرفتنا بالوظائف المنفصلة للعقل ، وبواسطة الانعكاس
                    الخارجى للشكل الداخلى لعملية الخريطة العقلية ، وبالاستفادة
                    الكاملة من عناصر وإيقاع الذاكرة ، وأخيرا بتطبيق معلوماتنا عن
                    خلايا المخ وإمكانية استمرار تنمية وتطوير القدرة العقلية على مدى
                    الحياة ، فإننا يمكن أن ننتصر في معركة الذكاء .
                    
                    أوقف ساعتك الآن
                    الزمن المستغرق :... دقيقة
                </textarea>

               
            </div>

        </div>


        <div class="container">
            <span id='pasteButton' class="time">Click to paste your Clipboard</span>

            <time id="timer">
                <i></i><b></b><i></i><b></b><i></i>
            </time>
            <div class="controls">
                <button id="startButton">Start</button>
                <button id="stopButton">Stop</button>
                <button id="resetButton">Reset</button>
            </div>
            <div id="progress-container">
                <div id="progress-text">Progress: 0%</div>
            </div>
            <div id="fullTimeDisplay">Full Time: 00:00:00</div>
            <div id="readingSpeed">Your Speed: 0 words per minute</div>

        </div>

    
    <script src="../static/main.js"></script>
    <script src="../static/fastReadingEx001.js"></script>
</body>
</html>