<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindGames</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/fastReadingEx001.css">
</head>
<body>
   
        <h1>Speed Reading Test</h1>

        <div id="test-container-wrapper">

            <div id="test-container">
                
                <div class="text">

                    <p>
                        يراقب محللو أسواق الأوراق المالية عن كثب حركات وسكنات
                        عشرة أشخاص يعملون في مجال التكنولوجيا . يكون هناك
                        مجرد لمحة تشير إلى أن أحدهم سينتقل من الشركة ‎٢‏ " إلى الشركة
                        " ب ‎٢‏ تتغير مؤشرات السوق الدولية للأوراق المالية .
                    </p>
                    <p>
                        وفى دراسة نشرتها مؤخرا اللجنة الإنجليزية للقوى العاملة لوحظ
                        أن نسبة ‎٨٠‏ من بين أفضل ‎١٠‏ من الشركات الإنجليزية
                        تخصص أموالأ وأوقاتا كبيرة للتدريب ، بينما لا تخصص نسبة
                        ‎١٠‏ من الشركات المدرجة على ذيل القائمة أى مال أو وقت
                        للتدريب .
                    </p>
                    <p>
                        نجح مشررع " بلاتو كمبيوتر " للتعليم فى ولاية " منيسوتا " فى
                        رفع مستوى الأداء ومستوى التفكير لعدد من الطلبة بلغ مائتى ألف
                        طالب .
                    </p>
                    <p>
                        وفى القوات المسلحة الأمر: مريكي يكية وغيرها من دول العالم ، أصبحت
                        فنون القتال العقلية تمثل جزةا أساسيا من مهارات العركة الفعلية .
                    </p>
                    <p>
                        كما أن الفرق الوطنية الأوليمبية أصبحت تخصص ‎٤»‏ / من
                        الوقت المخصص للتدريب على تطوير التفكير الذهنى الإيجابى ،
                        والقدرة العقلية على الاحتمال والتخيل .
                    </p>
                    <p>
                        في السجل الخاص بأكبر خمسمائة شركة من حيث الأرباح ،
                        سنجد أن أكبر خمس شركات كمبيوتر تنفق ما يفوق المليار دولار على
                        تعليم موظفيها وتطوير رأس المال الثقافى الذى أصبح له الأولوية
                        القصوى بما في ذلك تطوير العملة الأقوى عالميا ألا ومى عملة
                        الذكاء .
                    </p>
                    <p>
                        فى سابقة هى الأوى من نوعها تم تعين الدكتور " لويس ألبرتو
                        ماكادو " ليكون أول شخص فى العالم يؤسس وزارة للذكاء ، وذلك
                        فى دولة " فنزويلا " . الذى كلف سياسيا بتطوير القوة العقلية
                        للأمة .
                    </p>
                    <p>
                        إننا نشهد حاليأ قفزة نوعية فى التطور البشرى - تتمشل في
                        إدراك الذكاء لذاته ، والوعى بأن رعاية وتغذية هذا الذكاء تمثلان
                        مزايا متعاظمة لهذه القفزة النوعية .
                    </p>
                    <p>
                        وخلال العشرين عاما الماضية، تم إجراء استفتاء شمل أكثر من
                        مائة ألف شخص من جميع أنحاء العالم عن المجالات التى تتطلب
                        التطوير . وقد اختار هؤلاء المجالات التالية، طبقا لأهميتها :
                    </p>
                    <ul>
                        <li>القراءة السريعة</li>
                        <li>القراءة والفهم</li>
                        <li>المهارات العامة للمذاكرة</li>
                        <li>تناول موضوع الانفجار المعلوماتى</li>
                        <li>الذاكرة</li>
                        <li>التركيز</li>
                        <li>مهارات الاتصال الشفهي</li>
                        <li>مهارات الاتصال الكتابى</li>
                        <li>التفكير الابتكارى</li>
                        <li>التخطيط</li>
                        <li>تدوين الملاحظات</li>
                        <li>تحليل المشكلات</li>
                        <li>حل المشكلات</li>
                        <li>الحوافز</li>
                        <li>الفكر التحليلى</li>
                        <li>تقنيات الاختبارات</li>
                        <li>تحديد الأولويات</li>
                        <li>إدارة الوقت</li>
                        <li>توزيع المعلومات</li>
                        <li>الانطلاق أو التأجيل</li>
                        <li>تناقص القدرات العقلية مع التقدم فى العمر</li>
                    </ul>
                    <p>
                        ومن خلال دراسة حديثة عن وظائف العقل يمكن التصدى لكل
                        مشكلة من هذه المشكلات بسهولة نسبية . وتغطى هذه الدراسة
                        الجوانب التالية :
                    </p>
                    <ol>
                        <li>وظائف النصف الأيمن والنصف الأيسر للمخ</li>
                        <li>رسم خريطة للعقل</li>
                        <li>بالسرعة الهائلة للقراءة وتقنيات القراءة المتأنية يمكن تشكيل
                            وحدات ثقافية كاملة</li>
                        <li>تقنيات فن تقوية الذاكرة</li>
                        <li>فقدان التذكر بعد التعلم</li>
                        <li>خلايا المخ</li>
                        <li>القدرات الذهنية والتقدم فى السن</li>
                    </ol>
                    <p>
                        لقد أصبح من المعروف أن القشرة الدماغية للنصفين الأيسر والأيمن
                        للمخ تميل إلى التعامل مختلف الوظائف الثقافية . وبداية فإن
                        النصف الأيسر يتعامل مع المنطق ، والكلمات والأرقام ،
                        والتتابع ، والتحليل ، ‎٨‏ الخطية، والاستماع . أما النصف
                        الأيمن فيتعامل وينظم الإيقاع ، والألوان، والتخيلات ، وأحلام
                        اليقظة ، والعلاقات المكانية، والأبعاد .
                    </p>
                    <p>
                        وقد أمكن التحقق في العصر الحالى من أن النصف الأيسر للمخ
                        ليس هو الجانب " الأكاديمي ، وأن النصف الأيمن للمخ ليس هو
                        الملسئول عن الجانب الإبداعى والتلقائي أو العاطفى ، فتحن نعرف
                        الآن من البحوث العديدة أننا نحتاج لتشغيل النصفين كليهما
                        بالتكامل فيما بينهما لتحقيق النجاح فى الجانبيين الأكاديمى
                        والإبداعى
                    </p>
                    <p>
                        إن العلماء من أمثال " إينشتاين ‎٣‏ ، " ونيوتن "، والفنانين من
                        أمثال " سيزان " و " موتسارت " ، ورجال الأعمال العباقرة ،
                        جميعهم يمزجون بين مهاراتهم الرقمية والتحليلية مع التخيل
                        والتصور لكى ينتجوا إبداعاتهم المبتكرة .
                    </p>
                    <p>
                        باستخدام معلوماتنا الأساسية عن الوظائف العقلية ، يصبح من
                        الممكن التدريب على حل المشكلات فى كل مجال ، وتحقيق تطور
                        إيجابى يصل إلى ‎٥٠٠‏ . ومن إحدى الطرق الحديثة لتحقيقه مثل
                        هذا التطور رسم خريطة العقل .
                    </p>
                    <p>
                        عندما نقوم بتدوين المذكرات بالطريقة التقليدية ‎٠‏ سواء للتذكير
                        بالمعلومات ، أو للإعداد لاتصال شفهى أو كتابى ، أو لتنظيم
                        الأفكار ، أو لتخيل المشكلات أو للتخطيط للتفكير الإبداعى ؛
                        فالأفضل أن يكون ذلك فى صورة خطية : سواء بجمل متجاورة ، أو
                        عبارات قصيرة فى قوائم محددة أو مرتبة رقميا أو هجائيا . ولأن هذه
                        الأساليب تفتقد اللون ‎٠‏ أو الإيقاع البصرى أو التتخيل ‎٠‏
                        أو الإحساس بالعلاقات المكانية . فإن ذلك يقوم بتعطيل إمكانيات
                        التفكير العقلى ، ويعوق كل العمليات الذهنية المذكورة آنفا .
                    </p>
                    <p>
                        وعلى العكس من ذلك ، فإن وضع الخطط العقلية يستوجب
                        استخدام جميع القدرات الذهنية بوضع صورة ما فى وسط الصفحة
                        لتيسير التذكر وتوليد الطاقة الإبداعية للأفكار ، وبالتالى يتم تفريعها
                        إلى شبكة مترابطة تعكس تماما التركيب الداخلى للمخ وباستخدام
                        هذا الأسلوب يمكنك أن تعد خطاباتك التى ستلقيها في دقائق بدلا
                        من أيام كما يمكنك أن تقوم بحل المشكلات بشكل شامل
                        وبسرعة ‎٠‏ كما يمكنك أن تحسن ذاكرتك ‎٠‏ وتقترب من أقصى
                        درجات النجاح والتقدم ؛٠‏ كما يولد تفكيرك الإبداعى عددا لا نهائيا
                        من الأفكار بدلا من الالتزام بقائمة محدودة منها .
                    </p>
                    <p>
                        بالسرعة الهائلة للقراءة وتقنيات القراءات المتأنية يمكن
                        تشكيل وحدات ثقافية كاملة .
                    </p>
                    <p>
                        عندما يمكننا أن نمثل معلومات الفكر على الورق بشكل متكامل
                        وواضح ؛ ذلك لأن هذا يجعل العقل قادرا على التعامل مع المنطق
                        في وقت سريع جدا ، وذلك لأننا نستطيع أن نلاحظ الأفكار الرئيسية
                        والفرعية والتى تعكس أفكار العقل بالتمام . الأمر الذى يتيح
                        لنا أن نربط الفروع بالنقاط الرئيسية ، مما يسهل إعادة
                        التذكر ، وتحقيق الهدف المنشود .
                    </p>
                    <p>
                        إذا كان لدينا أربع خطط مختلفة ؛ فإننا نستطيع أن نحلل
                        مدى أهمية كل منها بناء على علاقته بالموضوع وأهدافه. ثم
                        نكون بذلك قد أتممنا أفضل وصف علمى لحل المشكلات ؛
                        من حيث أن لدينا أفضل التقديرات لإتاحة أساليب التحليل
                        فى حالة البدء فى الكتابة أو تدوين الملاحظات .
                    </p>
                    <p>
                        " التقنيات الفكرية "
                    </p>
                    <p>
                        نجد أن هناك كثير من الأفكار يمكن أن توضع فى تجميع
                        دقيق لتحسين قدرات العقل بما يتفق مع موضوع التفكير
                        وتقنيات اختبارات الذكاء والذاكرة وأيضا تقنيات التحليل
                        للأفكار وتحديد الأولويات وإدارة الوقت .
                    </p>
                    <p>
                        عندما كان أحد المتمرسين المتخصصين من فرنسا يقترب من
                        إجراء مقابلة عمل حول التطور المهني ، فإن التفكير العقلانى
                        يحتم أن يتجه التفكير إلى الإعداد المبكر الذي يحدد هذا
                        الإعداد نقطة البداية بالنسبة له .
                    </p>
                    <p>
                        وعند تقييم الميول الفردية والوظيفية للناس ؛ فإن مبدأ
                        التحليل للتعلم النشط ينطوي على التفكير العميق والتأمل
                        المناسب للقدرة على التكيف، وهذا يوضح لنا فائدة التحليل
                        للأفكار.
                    </p>
                    <p>
                        إن تحليل الآراء قد يتطلب كثيرا من التفكير الذهني عن الآخرين
                        من حيث أن التحليل يكون ذو فائدة بالغة في الكثير من المجالات
                        مثل سرعة القراءة وفهم النصوص ومعرفة المعلومات
                    </p>
        </div>
               
            </div>
        </div>

        <div class="container">
            <time id="timer">
                <i></i><b></b><i></i><b></b><i></i>
            </time>
            <div class="controls">
                <button id="startButton">Start</button>
                <button id="stopButton">Stop</button>
                <button id="resetButton">Reset</button>
            </div>
            <div id="progress-container">
                <div id="progress-text">Progress: 0%</div>
            </div>
            <div id="fullTimeDisplay">Full Time: 00:00:00</div>
            <div id="readingSpeed">Your Speed: 0 words per minute</div>

        </div>

    
    <script src="../static/main.js"></script>
    <script src="../static/fastReadingEx001.js"></script>
</body>
</html>