<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastRead</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <h1>Fast Reading</h1>

    <ul class="timeline">

        <!-- Item 1 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Test Your speed</span>
                    <span class="time-wrapper"><span class="time">Fisr Exercise</span></span>
                </div>
                <div class="desc">During the test, focus on typing accurately rather than speeding up. Don’t worry about getting a low speed result; the goal is to measure and improve your current typing speed.</div>
            </div>
        </li>
    
    

    
    <script src="../static/main.js"></script>
</body>
</html>