<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main TimeLine</title>
    <link rel="stylesheet" href="../static/mainTimeLine.css">
</head>
<body>
    
        <section class="MainTimeLine">
            <div class="timeline">
        
            <div class="timeline-empty">
            </div>
        
        
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div id='fastRead' class="timeline-component timeline-content">
                <h3>Fast Read</h3>
                <p>Some Text</p>
            </div>
            <div id='mindGames' class="timeline-component timeline-content">
                <h3>Mind Games</h3>
                <p>Some Text.</p>
            </div>
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
            <div class="timeline-empty">
            </div>
        
            <div class="timeline-empty">
            </div>
        
            <div class="timeline-middle">
                <div class="timeline-circle"></div>
            </div>
         
            </div>
        </section>

        <script src="../static/timeLine.js"></script>
</body>
</html>