<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch Up License Plate</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/fastReadingEx003.css">
</head>
<body>

    <div class="container">
          <div class="flag-wrapper">
                <span class="flag">Catch Up License Plate</span>
                <span id="notes" class="time-wrapper"></span>
            </div>
        <div class="exercise">
          
            <div class="Plate">
                <div class="plateTop flag-wrapper">
                    <div class="country">EGYPT</div>
                    <div class="arabicCountry">مصر</div>
                </div>

                <div id="Plate" class="trafficCard">
                    <div id="numberCardInput" class="numberCard none">
                        <input type="text" id="numbersInput"  autofocus>
                    </div>
                    <div id="letterCardInput" class="lettersCard none">
                        <input type="text" id="lettersInput" autofocus>
                    </div>

                    <div id="numberCard" class="numberCard " >0012</div>
                    <div id="letterCard" class="lettersCard " >م ص ر </div>
                </div>
            </div>
        </div>

        <div class="controller">
            <select id="speedLevel">
                <option value="100">100ms</option>
                <option value="300">300ms</option>
                <option value="500">500ms</option>
                <option value="700">700ms</option>
                <option value="900">900ms</option>
            </select>
            <button onclick="begain()">Start Test</button>

            Loop<input type="checkbox" name="loop" id="LoopController"> 

            <div id="result" style="display:none;"></div>
        </div>

        <div id="feedback" class="feedback"></div>
    </div>

    <script src="../static/fastReadingEx003.js"></script>
</body>
</html>
